@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");

.container {
    overflow-x: hidden;
    font-family: "Charm", cursive;
  }

.tech{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
h3{
    font-weight: 700;
    font-size:30px;
}