{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<!-- <h3>Business</h3>
<ul>
   {{ macro.displayNewsList(business)}}
</ul>
<h3>Sports</h3>
<ul>
   {{ macro.displayNewsList(sports)}}
</ul>
<h3>Entertainment</h3>
<ul>
   {{ macro.displayNewsList(entertainment)}}
</ul>
<h3>health</h3>
<ul>
   {{ macro.displayNewsList(health)}}
</ul>
<h3>Technology</h3>
<ul>
   {{ macro.displayNewsList(technology)}}
</ul> -->

<div class="container">
   <div class="row ml-3">
      <h3 class="text-uppercase text-primary font-weight-bold text-center">Technology</h3>
      <hr>
      {{ macro.displayNewsList(technology)}}
   </div>
   <div class="row">
      <h3 class="text-uppercase text-primary text-center">Business</h3>
      <hr>
      {{ macro.displayNewsList(business)}}
   </div>
   <div class="row">
      <h3 class="text-uppercase text-primary text-center">Sports</h3>
      <hr>
      {{ macro.displayNewsList(sports)}}
   </div>
   <div class="row">
      <h3 class="text-uppercase text-primary text-center">Health</h3>
      <hr>
      {{ macro.displayNewsList(health)}}
   </div>

</div>

{% endblock %}